<div>
  <b-container v-show="loaded">
    <b-row>
      <b-col>
        <div class="loading" v-if="!loaded">Loading...</div>
        <div class="main">
          <div class="read_manga" ref="read_manga">
            <template v-for="(e, i) in img">
              <a :href="e.next" :id="e.id" :ref="e.id">
                <img :src="e.src">
              </a>
            </template>
          </div>
          <router-link v-if="block > 1" :to="prev">Prev | </router-link>
          <router-link :to="next">Next</router-link>
          <div class="credit">
            <template v-if="$i18n.locale == 'en'">
              <template v-if="block < 3">
                Translated by <a href="https://twitter.com/ThunderWolfLive" target="_blank">Andrew Bush</a>
              </template>
              <template v-if="block == 3">
                Translated by <a href="https://twitter.com/njbennett" target="_blank">Nick Bennett</a>
              </template>
              <template else>
                Translated by <a href="http://www.lancers.jp/affiliate/track?id=1582912&link=%2Fprofile%2Freniasz" target="_blank"
                  rel="nofollow">Marcin Sala</a>
              </template>
            </template>
            <template v-if="$i18n.locale == 'fr'">
              Translated by Stéphane Grenier
            </template>
            <template v-if="$i18n.locale == 'pl'">
              Translated by <a href="http://www.lancers.jp/affiliate/track?id=1582912&link=%2Fprofile%2Freniasz" target="_blank"
                rel="nofollow">Marcin Sala</a>
            </template>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</div>
